* {
    box-sizing: border-box;
}

.header {
    background: #fcbad3;
}

.header__top {
    position: relative;
    background: #ffffff;
}

.header__top__inner {
    height: 102px;
    padding-top: 38px;
}

.header__top__left {
    float: left;
}

.header__top__left ul li {
    font-size: 15px;
    color: #111111;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    padding: 2px 0;
    cursor: pointer;
}

.header__top__left ul li a {
    color: #111111;
}

.header__top__left ul li:hover ul {
    top: 24px;
    opacity: 1;
    visibility: visible;
}

.header__top__left ul li ul {
    background: #111111;
    display: inline-block;
    padding: 2px 0;
    position: absolute;
    left: 0;
    top: 44px;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.header__top__left ul li ul li {
    list-style: none;
    font-size: 13px;
    color: #ffffff;
    padding: 2px 15px;
    cursor: pointer;
}

.header__top__left ul li ul li:after {
    display: none;
}

.header__top__left ul li:after {
    position: absolute;
    right: -19px;
    top: 1px;
    content: "|";
    color: #bbbbbb;
}

.header__top__left ul li:last-child {
    margin-right: 0;
}

.header__top__left ul li:last-child:after {
    display: none;
}

.header__top__left ul li span {
    color: #888888;
}

.header__logo {
    position: absolute;
    left: 40.75%;
    top: 25px;
}

.header__logo a {
    display: inline-block;
}

.white_logo {
    display: none;
}

.header__top__right {
    float: right;
}

.header__top__right ul li {
    font-size: 18px;
    color: #111111;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    padding: 2px 0;
    cursor: pointer;
}

.header__top__right ul li a {
    color: #111111;
}

.header__top__right ul li:hover ul {
    top: 24px;
    opacity: 1;
    visibility: visible;
}

.header__top__right ul li ul {
    background: #111111;
    display: inline-block;
    padding: 2px 0;
    position: absolute;
    right: 0;
    top: 44px;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.header__top__right ul li ul li {
    list-style: none;
    font-size: 13px;
    color: #ffffff;
    padding: 2px 15px;
    cursor: pointer;
}

.header__top__right ul li ul li:after {
    display: none;
}

.header__top__right ul li:after {
    position: absolute;
    right: -19px;
    top: 1px;
    content: "|";
    color: #bbbbbb;
}

.header__top__right ul li:last-child {
    margin-left: 0;
}

.header__top__right ul li:last-child:after {
    display: none;
}

.header__top__right ul li {
    color: #888888;
}

.header__menu {
    text-align: center;
}

.header__menu ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: -5px;
}

.header__menu ul li.active a {
    background: #111111;
}

.header__menu ul li:hover a {
    background: #111111;
}

.header__menu ul li:hover .dropdown {
    top: 62px;
    opacity: 1;
    visibility: visible;
}

.header__menu ul li:last-child {
    margin-right: 0;
}

.header__menu ul li .dropdown {
    position: absolute;
    left: 0;
    top: 82px;
    width: 150px;
    background: #111111;
    text-align: left;
    padding: 5px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
    display: block;
    margin-right: 0;
}

.header__menu ul li .dropdown li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 20px;
    text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
    display: none;
}

.header__menu ul li a {
    font-size: 16px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    padding: 20px 35px 18px;
    letter-spacing: 1px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.offcanvas__option {
    display: none;
}

.offcanvas-menu-wrapper {
    display: none;
}

.canvas__open {
    display: none;
}

nav {
    padding: 0px 100px;
}

/* Medium Device */
@media (min-width: 992px) and (max-width: 1199px) {
    .header__logo {
        left: 39%;
    }
}

/* Tablet Device */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header__logo {
        left: 35%;
    }

    .header__menu ul li a {
        padding: 20px 28px 18px;
    }

    .header__top__left ul li {
        margin-right: 20px;
    }

    .header__top__left ul li:after {
        right: -13px;
    }
}

/* Wide Mobile */
@media only screen and (max-width: 767.5px) {
    .normal_logo {
        display: none;
    }

    .white_logo {
        display: block;
    }

    .header {
        background: #ffffff;
    }

    .header__top {
        background: #fcbad3;
    }

    .header__top__left {
        display: none;
    }

    .header__top__right {
        display: none;
    }

    .header__logo {
        position: relative;
        left: 0;
        top: 0;
        margin-left: 0;
    }

    .header__top__inner {
        height: auto;
        padding: 25px 0;
    }

    .header__menu {
        display: none;
    }

    .header .container {
        position: relative;
    }

    .canvas__open {
        display: block;
        font-size: 22px;
        width: 35px;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 40px;
    }

    .offcanvas__option {
        display: block;
    }

    .offcanvas-menu-overlay {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        content: "";
        z-index: 98;
        -webkit-transition: all, 0.5s;
        -o-transition: all, 0.5s;
        transition: all, 0.5s;
        visibility: hidden;
    }

    .offcanvas-menu-overlay.active {
        visibility: visible;
    }

    .offcanvas-menu-wrapper {
        display: none;
        position: fixed;
        left: -300px;
        width: 300px;
        height: 100%;
        background: #ffffff;
        display: block;
        z-index: 99;
        overflow-y: auto;
        -webkit-transition: all, 0.5s;
        -o-transition: all, 0.5s;
        transition: all, 0.5s;
        opacity: 0;
    }

    .offcanvas-menu-wrapper.active {
        opacity: 1;
        left: 0;
    }

    .offcanvas__option ul li {
        font-size: 14px;
        color: #111111;
        list-style: none;
        display: inline-block;
        margin: 10px 30px 10px 0px;
        position: relative;
        padding: 2px 0;
        cursor: pointer;
    }

    .offcanvas__option ul li a {
        color: #111111;
    }

    .offcanvas__option ul li:hover ul {
        top: 24px;
        opacity: 1;
        visibility: visible;
    }

    .offcanvas__option ul li ul {
        background: #111111;
        display: inline-block;
        padding: 2px 0;
        position: absolute;
        left: 0;
        top: 44px;
        opacity: 0;
        visibility: hidden;
        z-index: 3;
        -webkit-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s;
    }

    .offcanvas__option ul li ul li {
        list-style: none;
        font-size: 13px;
        color: #ffffff;
        padding: 2px 15px;
        cursor: pointer;
    }
    
    .offcanvas__option ul li ul li:after {
        display: none;
    }
    
    .offcanvas__option ul li:after {
        position: absolute;
        right: -19px;
        top: 1px;
        content: "|";
        color: #bbbbbb;
    }
    
    .offcanvas__option ul li:last-child {
        margin-right: 0;
    }
    
    .offcanvas__option ul li:last-child:after {
        display: none;
    }
    
    .offcanvas__option ul li {
        color: #888888;
    }

    .offcanvas__logo {
        background: #fcbad3;
        padding: 25px;
    }
    
    .offcanvas__logo a {
        display: inline-block;
    }
}
